<h1>Produtos da lanchonete</h1>
<ul>
    <h1>Lista de itens</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Tipo</th>
        <th>Disponivel</th>
    </tr>
    {%for i in item %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i.nome }}</td>
        <td>R$: {{ "%2.f"|format(i.preco) }}</td>
        <td>Tipo: {{ i.tipo }}</td>
        <td>Disponivel: {{ i.disponivel }}</td>
    </tr>
    {% endfor %}
</table>
</ul>
<nav>
    <a href="{{url_for('index')}}">Inicio</a>
    <a href="{{url_for('produtos')}}">Produtos</a>
    <a href="{{url_for('sobre')}}">Sobre</a>
    <a href="{{url_for('catalogo')}}">Catalogo</a>
</nav>