<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Lanchonete</title>
</head>
<body>
    <h1>Bem-vindo à minha Lanchonete de Phyton!</h1>
<p> Sistema de gerenciamento de produtos da lanchonete.</p>
    <nav>
        <a href="{{url_for('index')}}">Inicio</a>
        <a href="{{url_for('produtos')}}">Cardapio</a>
        <a href="{{url_for('sobre')}}">Sobre</a>
        <a href="{{url_for('catalogo')}}">Catalogo</a>
    </nav>
</body>
</html>